/* Sve skupa */

body {
    font-family: 'Courier New', Courier, monospace;
    margin: 0%;
}

body p{
    font-family:Georgia, 'Times New Roman', Times, serif;
    color: rgb(242, 240, 234);
}

.traka-izbornika {
    display: flex;
    flex-flow:row wrap;
    background-color: blanchedalmond;
    width: 100%;
}

.logo-jezik{
    text-align: left;
    flex-grow: 1;
}

#pocetak{
    flex-grow: 1;
    padding-left: 10%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: oblique;
    color: rgb(71, 9, 9)
}

.ikona-odjava{
    text-align: right;
    flex-grow: 1;
}


nav {

    display: flex;
    justify-content: space-between;

    background-color: black;
}

nav a {
    font-size: 120%;
    text-decoration: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: whitesmoke;
}


nav a:hover {
    font-weight: bolder;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: orange;
    font-style: italic;
}

.sadrzaj_padajuci {
    display: inline-block;
}

.logo {
    display: inline-block;
}

.search-slika {
    width: 20px;
}

#prozor:target {
    z-index: 1;
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: green
}

#prozor {
    display: none;
}

.sekcije {
    display: flex;
    justify-content: space-around;
}

.sekcije aside:hover {
    width: 200;
    height: 200;
}

.logo img {
    width: 100px;
    height: 100px;
}

/* Početna stranica */

#prijava-gumb{
    
    
    display: inline-block;
    outline: none;
    cursor: pointer;
    font-size: 16px;
    line-height: 20px;
    font-weight: 600;
    border-radius: 8px;
    padding: 13px 23px;
    border: 1px solid #222222;
    transition: box-shadow 0.2s ease 0s, -ms-transform 0.1s ease 0s, -webkit-transform 0.1s ease 0s, transform 0.1s ease 0s;
    background: #fff;
    color: #222222;
    :hover {
        border-color: #000000;
        background: #f7f7f7;
    }


}

#naslov-pocetna{
    padding-top: 10%;
    padding-bottom: 2%;
}

#naslov-pocetna h1{
    font-size: 500%;
}

.grid-posebno-2 {
    text-align: center;
   
}

.pocetna-sekcija {
    background-color: rgb(97, 12, 12);
    
}

.pocetna-sekcija h1 {
    text-align: center;
    margin-top: 0%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: italic;
    font-size: 400%;
    color: rgb(242, 240, 234);
}

#prijava-username{
    font-size: 20pt;
}

#prijava-lozinka{
    font-size: 20pt;
}

#prijava-username-labela{
    font-family:Georgia, 'Times New Roman', Times, serif;
    color: rgb(242, 240, 234);
}

#prijava-lozinka-labela{
    font-family:Georgia, 'Times New Roman', Times, serif;
    color: rgb(242, 240, 234);
}


#prijava-zapamti-labela{
    font-family:Georgia, 'Times New Roman', Times, serif;
    color: rgb(242, 240, 234);
}

.notReg{
    text-align: center;
    padding-bottom: 5%;
}

.notReg p{
    font-family:Georgia, 'Times New Roman', Times, serif;
    color: rgb(242, 240, 234);
}

.notReg a{
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    text-decoration: none;
    color: blanchedalmond;
}

/* Registracija */

#registracija-gumb{
    
    display: inline-block;
    outline: 0;
    text-align: center;
    cursor: pointer;
    padding: 0px 16px;
    border-radius: 2px;
    min-width: 80px;
    height: 32px;
    background-color: rgb(255, 255, 255);
    color: rgb(50, 49, 48);
    font-size: 14px;
    font-weight: 400;
    box-sizing: border-box;
    border: 1px solid rgb(138, 136, 134);
    

}

#registracija-gumb:hover {
    background-color: rgb(243, 242, 241);
    color: rgb(32, 31, 30);
}


#registracija-ime{
    font-size: 20pt;
}

#registracija-prezime{
    font-size: 20pt;
}

#registracija-datum{
    font-size: 20pt;
}


#registracija-spol-musko{
    font-size: 20pt;
}

#registracija-spol-zensko{
    font-size: 20pt;
}


#registracija-lozinka{
    font-size: 20pt;
}


#registracija-telefon{
    font-size: 20pt;
}

#registracija-adresa{
    font-size: 20pt;
}

#registracija-email{
    font-size: 20pt;
}

#registracija-username{
    font-size: 20pt;
}

#registracija-lozinka{
    font-size: 20pt;
}


#registracija-lozinka-potvrda{
    font-size: 20pt;
}

#registracija-ime-labela{
    font-family:Georgia, 'Times New Roman', Times, serif;
    color: rgb(242, 240, 234);
}

#registracija-prezime-labela{
    font-family:Georgia, 'Times New Roman', Times, serif;
    color: rgb(242, 240, 234);
}

#registracija-datum-labela{
    font-family:Georgia, 'Times New Roman', Times, serif;
    color: rgb(242, 240, 234);
}

#registracija-spol-labela{
    font-family:Georgia, 'Times New Roman', Times, serif;
    color: rgb(242, 240, 234);
}

#registracija-spol-musko-labela{
    font-family:Georgia, 'Times New Roman', Times, serif;
    color: rgb(242, 240, 234);
}

#registracija-spol-zensko-labela{
    font-family:Georgia, 'Times New Roman', Times, serif;
    color: rgb(242, 240, 234);
}

#registracija-telefon-labela{
    font-family:Georgia, 'Times New Roman', Times, serif;
    color: rgb(242, 240, 234);
}

#registracija-adresa-labela{
    font-family:Georgia, 'Times New Roman', Times, serif;
    color: rgb(242, 240, 234);
}


#registracija-email-labela{
    font-family:Georgia, 'Times New Roman', Times, serif;
    color: rgb(242, 240, 234);
}

#registracija-username-labela{
    font-family:Georgia, 'Times New Roman', Times, serif;
    color: rgb(242, 240, 234);
}

#registracija-lozinka-labela{
    font-family:Georgia, 'Times New Roman', Times, serif;
    color: rgb(242, 240, 234);
}

#registracija-lozinka-potvrda-labela{
    font-family:Georgia, 'Times New Roman', Times, serif;
    color: rgb(242, 240, 234);
}

#registracija-uvjeti-labela{
    font-family:Georgia, 'Times New Roman', Times, serif;
    color: rgb(242, 240, 234);
}

/* Profil */

.upload{
    width: 125px;
    position: relative;
    margin: auto;
  }
  
  .upload img{
    border-radius: 50%;
    border: 8px solid #DCDCDC;
  }
  
  .upload .round{
    position: absolute;
    bottom: 0;
    right: 0;
    background: #00B4FF;
    width: 32px;
    height: 32px;
    line-height: 33px;
    text-align: center;
    border-radius: 50%;
    overflow: hidden;
  }
  
  .upload .round input[type = "file"]{
    position: absolute;
    transform: scale(2);
    opacity: 0;
  }
  
  input[type=file]::-webkit-file-upload-button{
      cursor: pointer;
  }

#nadimak-profilna-labela{
    font-family:Georgia, 'Times New Roman', Times, serif;
    color: rgb(242, 240, 234);
}

/* Kreiraje proizvoda */

#moderatori-proizvod-labela{
    font-family:Georgia, 'Times New Roman', Times, serif;
    color: rgb(242, 240, 234);
}

#naziv-proizvod-labela{
    font-family:Georgia, 'Times New Roman', Times, serif;
    color: rgb(242, 240, 234);
}

#opis-proizvod-labela{
    font-family:Georgia, 'Times New Roman', Times, serif;
    color: rgb(242, 240, 234);
}

#slika-proizvod-labela{
    font-family:Georgia, 'Times New Roman', Times, serif;
    color: rgb(242, 240, 234);
}

#kolicina-proizvod-labela{
    font-family:Georgia, 'Times New Roman', Times, serif;
    color: rgb(242, 240, 234);
}

#cijena-proizvod-labela{
    font-family:Georgia, 'Times New Roman', Times, serif;
    color: rgb(242, 240, 234);
}

#bodovi-proizvod-labela{
    font-family:Georgia, 'Times New Roman', Times, serif;
    color: rgb(242, 240, 234);
}

#status-proizvod-labela{
    font-family:Georgia, 'Times New Roman', Times, serif;
    color: rgb(242, 240, 234);
}


/*  Kreiranje kampanje  */

#naziv-kampanja-labela{
    font-family:Georgia, 'Times New Roman', Times, serif;
    color: rgb(242, 240, 234);
}

#opis-kampanja-labela{
    font-family:Georgia, 'Times New Roman', Times, serif;
    color: rgb(242, 240, 234);
}

#datum-vrijeme-pocetka-kampanje-labela{
    font-family:Georgia, 'Times New Roman', Times, serif;
    color: rgb(242, 240, 234);
}

#datum-vrijeme-zavrsetka-kampanje-labela{
    font-family:Georgia, 'Times New Roman', Times, serif;
    color: rgb(242, 240, 234);
}


/* Straničenje */
.stranice{
    padding: 8px 16px;
    border: 1px solid#ccc;
    color: black;
    font-weight: bold;
}


/* Popis Kampanja */

#popUp:target {
    z-index: 1;
    display: block;
    position: fixed;
    top: 25%;
    left: 25%;
    width: 50%;
    height: 50%;
    background-color: green
}

#popUp {
    display: none;
}

/* O autoru */

#autor-slika {
    width: 400px;
    height: 300px;
}

.o_autoru-sekcije {
    text-align: center;
    background-color: rgb(97, 12, 12);
    
}


#o_autoru-naslov {
    text-align: center;
}

.o_autoru-podsekcija-1 ul {
    text-decoration: none;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    list-style-type: none;
}

.o_autoru-podsekcija-2 ul {
    text-decoration: none;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    list-style-type: none;
    padding-right: 0%;
}

.naslovi {
    font-weight: bold;
}

.o_autoru-podsekcija-2 {
    padding-right: 15%;
    padding-top: 10%;
}

/* Autentikacija */

.autentikacija-naslov {
    text-align: center;
    background-color: rgb(212, 167, 101);
    margin: 0%;
}

.gridovi {
    display: grid;
    grid-template-columns: auto auto;
    background-color: bisque;

}

.grid-posebno {
    text-align: center;
}


/* Aktivacija */

#aktivacijski-kod-labela{
    font-family:Georgia, 'Times New Roman', Times, serif;
    color: rgb(242, 240, 234);
}


#aktivacijski-kod{
    font-size: 20pt;
}

/* Obrazac */

#obrazac-forma {
    text-align: center;
}

.obrazac-poravnanje {
    position: relative;
}

.obrazac-poravnanje form {
    position: absolute;
    right: 25%;
    left: 25%;
    background-color: lightgoldenrodyellow;
}

.obrazac-poravnanje-2 {
    padding-top: 50%;
}

.obrazac-poravnanje h1 {
    text-align: center;
}


#gumb-provjera {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

#gumb-dalje{
    background-color: #b36607;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

/* Multimedija */

.multimedija-video {
    background-color: lightgoldenrodyellow;
    padding-top: 1%;
}

.multimedija-audio {
    background-color: rgb(212, 167, 101);
    padding-top: 1%;
}

.multimedija-audio h2 {
    margin: 0%;

}

.multimedija-video h2 {
    margin: 0%;
}

.multimedija-video-1 {
    display: flex;
    justify-content: space-around;
}

.multimedija-video-2 {
    display: flex;
    justify-content: space-around;
}

.multimedija-audio-1 {
    display: flex;
    justify-content: space-around;
}

.multimedija-audio-1 h3 {
    align-items: center;
}

.multimedija-video h2,
h3 {
    text-align: center;
}

.multimedija-audio h2,
h3 {
    text-align: center;
}



/* Popis (Tablica) */

.tablica {
    margin-top: 10px;
    text-align: center;
}

table,
th,
td {
    border: solid black;
    text-align: center;
    font-weight: bold;
}

tr:nth-child(odd) {
    background-color: wheat;
}

tr:nth-child(even) {
    background-color: rgb(225, 229, 216);
}

th {
    background-color: rgb(59, 23, 23);
    color: white;
}

.popis-tablica {
    padding-left: 4%;
}

.popis-naslov {
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

/* ERA i Navigacijski */

.era-i-nav {
    text-align: center;
}

/*  Profil  */
.naziv-kupnja{
    font-family:Georgia, 'Times New Roman', Times, serif;
    
}

#profil-proba{
    background-color: #b36607;
    display: flex;
    flex-direction: column;
}

#opis-cijena{
    display: flex;
    justify-content: space-around;
}

#slika-tablica{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#gumb-placanje-euri{

    display: inline-block;
    outline: none;
    cursor: pointer;
    font-size: 14px;
    line-height: 1;
    border-radius: 500px;
    transition-property: background-color,border-color,color,box-shadow,filter;
    transition-duration: .3s;
    border: 1px solid transparent;
    letter-spacing: 2px;
    min-width: 160px;
    text-transform: uppercase;
    white-space: normal;
    font-weight: 700;
    text-align: center;
    padding: 16px 14px 18px;
    color: #eff1ef;
    box-shadow: inset 0 0 0 2px #245b06;
    background-color: transparent;
    height: 48px;
    :hover{
        color: #fff;
        background-color: #616467;
    }

}

#gumb-placanje-bodovi{

    display: inline-block;
    outline: none;
    cursor: pointer;
    font-size: 14px;
    line-height: 1;
    border-radius: 500px;
    transition-property: background-color,border-color,color,box-shadow,filter;
    transition-duration: .3s;
    border: 1px solid transparent;
    letter-spacing: 2px;
    min-width: 160px;
    text-transform: uppercase;
    white-space: normal;
    font-weight: 700;
    text-align: center;
    padding: 16px 14px 18px;
    color: #eff1ef;
    box-shadow: inset 0 0 0 2px #245b06;
    background-color: transparent;
    height: 48px;
    :hover{
        color: #fff;
        background-color: #616467;
    }

}

#plati-eurima{
    
    display: inline-block;
    outline: 0;
    cursor: pointer;
    border-radius: 6px;
    border: 2px solid #ff4742;
    color: #ff4742;
    background: 0 0;
    padding: 8px;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 2px 4px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1.5px 0px;
    font-weight: 800;
    font-size: 16px;
    height: 42px;
    :hover{
        background-color: #ff4742;
        color: #fff;
    }
    
}

#plati-bodovima{
    
    display: inline-block;
    outline: 0;
    cursor: pointer;
    border-radius: 6px;
    border: 2px solid #ff4742;
    color: #ff4742;
    background: 0 0;
    padding: 8px;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 2px 4px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1.5px 0px;
    font-weight: 800;
    font-size: 16px;
    height: 42px;
    :hover{
        background-color: #ff4742;
        color: #ffffff;
    }
    
}

.placanje-naslovi{
    font-family:Georgia, 'Times New Roman', Times, serif;
    color: rgb(242, 240, 234);
}

/*  Aktivacija  */

#gumb-aktivacija{

    display: inline-block;
    outline: none;
    cursor: pointer;
    font-weight: 600;
    border-radius: 3px;
    padding: 12px 24px;
    border: 0;
    color: #fff;
    background: #000a47;
    line-height: 1.15;
    font-size: 16px;
    :hover {
        transition: all .1s ease;
        box-shadow: 0 0 0 0 #fff, 0 0 0 3px #1de9b6;
    }

}

#gumb-datumi{
    
    display: inline-block;
    outline: 0;
    border: none;
    cursor: pointer;
    height: 32px;
    padding: 0px 16px;
    border-radius: 50px;
    background-color: #2222220d;
    color: #222;
    font-size: 12px;
    font-weight: 500;
    
    
}

#gumb-datumi:hover {
    background-color: #2222221a;
}

#gumb-popis{
    
    display: inline-block;
    outline: 0;
    border: none;
    cursor: pointer;
    height: 32px;
    padding: 0px 16px;
    border-radius: 50px;
    background-color: #2222220d;
    color: #222;
    font-size: 12px;
    font-weight: 500;
    
    
}

#gumb-popis:hover {
    background-color: #2222221a;
}

#nadimak-gumb{
    
    
    display: inline-block;
    outline: none;
    cursor: pointer;
    padding: 0 16px;
    background-color: #0070d2;
    border-radius: 0.25rem;
    border: 1px solid #0070d2;
    color: #fff;
    font-size: 13px;
    line-height: 30px;
    font-weight: 400;
    text-align: center;
}

#nadimak-gumb:hover {
    background-color: #005fb2;  
    border-color: #005fb2;
} 

#gumb-shopping{
    
    display: inline-block;
    outline: 0;
    cursor: pointer;
    padding: 5px 16px;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    vertical-align: middle;
    border: 1px solid;
    border-radius: 6px;
    color: #ffffff;
    background-color: #2ea44f;
    border-color: #1b1f2326;
    box-shadow: rgba(27, 31, 35, 0.04) 0px 1px 0px 0px, rgba(255, 255, 255, 0.25) 0px 1px 0px 0px inset;
    transition: 0.2s cubic-bezier(0.3, 0, 0.5, 1);
    transition-property: color, background-color, border-color;
    

}

#gumb-shopping:hover {
    background-color: #2c974b;
    border-color: #1b1f2326;
    transition-duration: 0.1s;
}

#greska-bodovi{
    font-family:Georgia, 'Times New Roman', Times, serif;
    color: rgb(15, 1, 1);
}

#greska-euri{
    font-family:Georgia, 'Times New Roman', Times, serif;
    color: rgb(15, 1, 1);
}

#gumb-azuriraj-kampanju{
    display: inline-block;
    outline: 0;
    cursor: pointer;
    padding: 5px 16px;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    vertical-align: middle;
    border: 1px solid;
    border-radius: 6px;
    color: #ffffff;
    background-color: #2ea44f;
    border-color: #1b1f2326;
    box-shadow: rgba(27, 31, 35, 0.04) 0px 1px 0px 0px, rgba(255, 255, 255, 0.25) 0px 1px 0px 0px inset;
    transition: 0.2s cubic-bezier(0.3, 0, 0.5, 1);
    transition-property: color, background-color, border-color;
}

#gumb-azuriraj-kampanju:hover {
    background-color: #2c974b;
    border-color: #1b1f2326;
    transition-duration: 0.1s;
}

#gumb-kampanja{
    display: inline-block;
    outline: 0;
    cursor: pointer;
    padding: 5px 16px;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    vertical-align: middle;
    border: 1px solid;
    border-radius: 6px;
    color: #ffffff;
    background-color: #2ea44f;
    border-color: #1b1f2326;
    box-shadow: rgba(27, 31, 35, 0.04) 0px 1px 0px 0px, rgba(255, 255, 255, 0.25) 0px 1px 0px 0px inset;
    transition: 0.2s cubic-bezier(0.3, 0, 0.5, 1);
    transition-property: color, background-color, border-color;
}

#gumb-kampanja:hover {
    background-color: #2c974b;
    border-color: #1b1f2326;
    transition-duration: 0.1s;
}

#gumb-proizvod{
    display: inline-block;
    outline: 0;
    cursor: pointer;
    padding: 5px 16px;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    vertical-align: middle;
    border: 1px solid;
    border-radius: 6px;
    color: #ffffff;
    background-color: #2ea44f;
    border-color: #1b1f2326;
    box-shadow: rgba(27, 31, 35, 0.04) 0px 1px 0px 0px, rgba(255, 255, 255, 0.25) 0px 1px 0px 0px inset;
    transition: 0.2s cubic-bezier(0.3, 0, 0.5, 1);
    transition-property: color, background-color, border-color;
}

#gumb-proizvod:hover {
    background-color: #2c974b;
    border-color: #1b1f2326;
    transition-duration: 0.1s;
}

#gumb-azuriraj-proizvod{
    display: inline-block;
    outline: 0;
    cursor: pointer;
    padding: 5px 16px;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    vertical-align: middle;
    border: 1px solid;
    border-radius: 6px;
    color: #ffffff;
    background-color: #2ea44f;
    border-color: #1b1f2326;
    box-shadow: rgba(27, 31, 35, 0.04) 0px 1px 0px 0px, rgba(255, 255, 255, 0.25) 0px 1px 0px 0px inset;
    transition: 0.2s cubic-bezier(0.3, 0, 0.5, 1);
    transition-property: color, background-color, border-color;
}

#gumb-azuriraj-proizvod:hover {
    background-color: #2c974b;
    border-color: #1b1f2326;
    transition-duration: 0.1s;
}

footer p{
    display: inline-block;
    color: #000000;
}

#o-autoru-gumbic{
    
    display: inline-block;
    outline: 0;
    cursor: pointer;
    text-align: center;
    border: 0;
    padding: 7px 16px;
    min-height: 36px;
    min-width: 36px;
    color: #ffffff;
    background: #008060;
    border-radius: 4px;
    font-weight: 500;
    font-size: 14px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 0px 0px, rgba(0, 0, 0, 0.2) 0px -1px 0px 0px inset;
}

#o-autoru-gumbic:hover {
    background-color: #006e52;
}

#dokumentacija-gumbic{
    display: inline-block;
    outline: 0;
    cursor: pointer;
    text-align: center;
    border: 0;
    padding: 7px 16px;
    min-height: 36px;
    min-width: 36px;
    color: #ffffff;
    background: #008060;
    border-radius: 4px;
    font-weight: 500;
    font-size: 14px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 0px 0px, rgba(0, 0, 0, 0.2) 0px -1px 0px 0px inset;
}

#dokumentacija-gumbic:hover {
    background-color: #006e52;
}

.o_autoru_poslozeno{
    display: flex;
    flex-direction: row;
    
}

.o_autoru_poslozeno ul {
    text-decoration: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    list-style-type: none;
}

#o-autoru-proba{
    background-color: #b36607;
    display: flex;
}